<header tuiNavigationHeader>
    <button 
        appearance="secondary-grayscale" 
        iconStart="@tui.menu"  
        tuiButton
        type="button"
        class="mobile-menu-trigger"
        (click)="toggleMobileMenu()"
    ></button>

    <div tuiNavigationLogo>
        <tui-icon icon="@tui.home" />
        <span>TestBazissoft</span>
    </div>

    <nav class="navigation" [class.open]="open()">
        @for (route of routes; track route.path) {
            <a 
                tuiButton
                routerLinkActive="active"
                [routerLink]="['/', route.path]"
                (click)="open.set(false)"
            >
                {{ route.data.title }}
            </a>
        }
    </nav>

    <button 
        appearance="secondary-grayscale" 
        iconStart="@tui.log-out" 
        tuiButton 
        type="button" 
        (click)="logout()"
    >
        Выйти
    </button>
</header>
<main tuiNavigationMain>
    <router-outlet />
</main>